<%- model_class = @user.class -%>
<div class="page-header">
  <h1>Mon profil</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nom) %>:</strong></dt>
  <dd><%= @user.nom %></dd>
  <dt><strong><%= model_class.human_attribute_name(:prenom) %>:</strong></dt>
  <dd><%= @user.prenom %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @user.email %></dd>
</dl>